/* Styles for the ToDo List container */
.toDoListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
  width: 80%; 
}

/* Styles for the input and button */
.taskInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Additional styles for the delete button */
button.deleteButton {
  margin-left: 10px;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 6px;
}

/* Styles for the task list */
ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns grid */
  gap: 10px; /* Spacing between grid items */
  width: 100%;
  background-color: lightgrey;
}

li {
  margin: 5px 0;
  border: 1px solid #ccc; /* Optional: border for each task */
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  background-color: antiquewhite;
}


